* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.head-cont {
  background: rgb(163, 158, 158);
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 0;
  align-items: center;
}

.main-head {
  margin-top: 15px;
}

.head-title {
  padding-left: 10px;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.form-head {
  position: relative;
}

.search-input {
  width: 300px;
  padding: 3px;
  background-color: transparent;
  border: none;
  font-size: 17px;
  text-align: center;
  border-bottom: 2px solid #746b6b;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 5px;
  right: 0px;
  cursor: pointer;
  color: #746b6b;
}

.btn-card {
  cursor: pointer;
  border: none;
  background-color: #d1c3af;
  padding: 10px;
  border-radius: 50%;
  color: rgb(33, 30, 15);
}

.btn-card:hover {
  background-color: peachpuff;
}

.basket-products {
  background: white;
  z-index: 1;
  top: 63px;
  right: 186px;
  min-width: 300px;
  min-height: 62px;
  position: absolute;
  box-shadow: 0.1em 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  border-radius: 10px;
}

.basket-products::before {
  content: "";
  position: absolute;
  right: 35px;
  top: -21px;
  border: 10px solid transparent;
  border-bottom: 15px solid #ffffff;
  width: 1px;
}

.list-item {
  list-style-type: none;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 0.1em 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  border-radius: 10px;
}

.img-goods {
  border-radius: 10px 10px 0 0;
  /* border-radius: 10px; */
}

.wrap-price {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  border-top: 0.5px solid grey;
}

.product-price {
  padding-bottom: 10px;
}

.span-price {
  padding-left: 1px;
  font-size: 20px;
  color: #000000;
}

.btn-add {
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  padding: 11px;
  border: none;
  background: #d1c3af;
}

.btn-add:hover {
  border: none;
  background: rgb(163, 158, 158);
}

.merch-item {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  padding: 20px;
}

.merch-product {
  margin-left: -12px;
  width: 95px;
  height: 75px;
}

.merch-price {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.price-per-piece {
  font-size: 12px;
}

.merch-right-block {
  text-align: end;
}

.del-btn {
  border: none;
  background: transparent;
  padding-top: 16px;
}

.wrap-del-btn {
  padding: 10px 5px 0 0;
}

.del-btn {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 16px;
}

.del-btn:hover {
  color: #000000;
  background-color: white;
  cursor: pointer;
}
